.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.price {
  display: flex;
  align-items: center;
}

.centerBox {
  text-align: left;
  width: 640px;
}