.constructorBox {
  display: grid;
  grid-template-rows: min-content 1fr min-content min-content;
  box-sizing: border-box;
}

.totalBox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.totalPrice {
  display: flex;
  align-items: center;
}

.totalPrice svg {
  width: 33px;
  height: 33px;
}

.element {
  width: 100%;
}

.isDrag {
  border: 1px dotted #ccc;
}

.isHover {
  border: 1px solid #ccc;
}
