.constructorBox {
  display: grid;
  grid-template-rows: min-content 1fr min-content min-content;
  box-sizing: border-box;
  position: relative;
}

.totalBox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.totalPrice {
  display: flex;
  align-items: center;
}

.totalPrice svg {
  width: 33px;
  height: 33px;
}

.element {
  width: 100%;
}

.isHover {
  border: 1px dotted #ccc;
}

.hintBun {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
  width: 110%;
}

.hintOtherIngredient {
  display: flex;
  justify-content: center;
  align-items: center;
}
