.box {
  width: 318px;
  margin-right: calc(var(--offset-base-size) * 15);
  flex-grow: 0;
  flex-shrink: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  color: var(--text-inactive-color);
  display: block;
  text-decoration: none;
  padding: calc(var(--offset-base-size) * 4) 0px;
}

.active {
  color: #F2F2F3;
}

.info {
  margin-top: calc(var(--offset-base-size) * 20);
}

.btnLogout {
  color: var(--text-inactive-color);
  background-color: transparent;
  border: none;
  margin: 0;
  padding: calc(var(--offset-base-size) * 4) 0px;
  cursor: pointer;
}
