.app {
  display: grid;
  grid-template-rows: min-content 1fr;
  min-height: 100%;
}

.mainContainer {
  height: 100%;
}

.appRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.img {
  max-width: 100%;
  height: auto;
}
