.appRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.mainContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: calc(var(--offset-base-size) * 10);
  grid-auto-rows: calc(100vh - 96px);
}

.img{
	max-width: 100%;
	height: auto;
}