.ingredientBox {
  position: relative;
  cursor: pointer;
}

.alignCenter {
  display: flex;
  justify-content: center;
  text-align: center;
}

.priceBox {
  composes: alignCenter
}

.title {
  composes: alignCenter
}

.ingredientBox.isDrag {
  opacity: .5;
}

.link {
  color: var(--text-primary-color);
  text-decoration: none;
}