.menuItem {
  composes: appRow from '../app/app.module.css';
  text-decoration: none;
  color: var(--text-inactive-color);
}

.active {
  composes: menuItem;
  color: #F2F2F3;
}

.active svg {
  fill: #F2F2F3;
}